# The `agg` function

Use `agg` to see the effect of a $10,000 UBI by marital status.

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import microdf as mdf

## Load data

Start with a standard `DataFrame`, then add a UBI manually in a reform copy.

In [2]:
base = mdf.calc_df(group_vars=['expanded_income', 'MARS', 'XTOT'],
                   metric_vars='aftertax_income')

In [3]:
reform = base.copy(deep=True)
UBI_PP = 10000
reform['ubi'] = reform.XTOT * UBI_PP
reform['aftertax_income'] = reform.aftertax_income + reform.ubi
mdf.add_weighted_metrics(reform, 'aftertax_income')

## `agg`

### Change in aftertax income by marital status.

In [4]:
mdf.agg(base=base, reform=reform, groupby='MARS', metrics='aftertax_income',
        base_metrics=None, reform_metrics=None)

      aftertax_income_m_base  aftertax_income_m_reform  aftertax_income_pctchg
MARS
1.0             3.915077e+06              5.077975e+06                0.297031
2.0             8.120848e+06              1.029521e+07                0.267751
4.0             1.116905e+06              1.670861e+06                0.495974

### Also sum baseline `expanded_income`

In [5]:
mdf.agg(base=base, reform=reform, groupby='MARS', metrics='aftertax_income',
        base_metrics='expanded_income', reform_metrics=None)

,expanded_income,aftertax_income_m_base,aftertax_income_m_reform,aftertax_income_pctchg
MARS,,,,
1.0,5.129297e+09,3.915077e+06,5.077975e+06,0.297031
2.0,1.536365e+10,8.120848e+06,1.029521e+07,0.267751
4.0,1.346883e+09,1.116905e+06,1.670861e+06,0.495974

### Also sum UBI amount

In [6]:
# Creates ubi_m = ubi * s006 / 1e6.
mdf.add_weighted_metrics(df=reform, metric_vars='ubi')

mdf.agg(base=base, reform=reform, groupby='MARS', metrics='aftertax_income',
        base_metrics=None, reform_metrics='ubi_m')

,aftertax_income_m_base,aftertax_income_m_reform,ubi_m,aftertax_income_pctchg
MARS,,,,
1.0,3.915077e+06,5.077975e+06,1.162898e+06,0.297031
2.0,8.120848e+06,1.029521e+07,2.174362e+06,0.267751
4.0,1.116905e+06,1.670861e+06,5.539557e+05,0.495974