# Custom taxes

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import microdf as mdf

In [2]:
tc.__version__

'3.0.0'

## Load data

Start with a `DataFrame` with `aftertax_income` and necessary ingredients of `tpc_eci`.

In [3]:
df = mdf.calc_df(group_vars=['expanded_income', 'aftertax_income'] +
                 mdf.ECI_REMOVE_COLS,
                 metric_vars=['XTOT'])
df.columns

Index(['XTOT', 'ssi_ben', 'mcaid_ben', 'aftertax_income', 'e02300', 'wic_ben',
       'other_ben', 'snap_ben', 'tanf_ben', 'vet_ben', 'mcare_ben', 'e02400',
       'housing_ben', 's006', 'expanded_income', 'market_income', 'bens',
       'tax', 's006_m', 'XTOT_m'],
      dtype='object')

Calculate Tax Policy Center's Expanded Cash Income measure, used for the analysis.

In [4]:
df['tpc_eci'] = mdf.tpc_eci(df)

Incidence of a VAT per Tax Policy Center.

In [5]:
mdf.add_vat(df)
df.columns

Index(['XTOT', 'ssi_ben', 'mcaid_ben', 'aftertax_income', 'e02300', 'wic_ben',
       'other_ben', 'snap_ben', 'tanf_ben', 'vet_ben', 'mcare_ben', 'e02400',
       'housing_ben', 's006', 'expanded_income', 'market_income', 'bens',
       'tax', 's006_m', 'XTOT_m', 'tpc_eci', 'vat'],
      dtype='object')

In [6]:
df.head()  # Note these are zero because we block negative tax liability.

,XTOT,ssi_ben,mcaid_ben,aftertax_income,e02300,wic_ben,other_ben,snap_ben,tanf_ben,vet_ben,...,housing_ben,s006,expanded_income,market_income,bens,tax,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,,,,,,,,,
192722,2.0,0.0,0.0,-294486.871312,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,383.58,-294486.871312,-294486.871312,0.000000,0.0,0.000384,0.000767,-294486.871312,0.0
166558,2.0,0.0,0.0,-228882.576430,5121.874971,0.0,0.0,0.0,0.0,0.0,...,0.0,151.16,-228882.576430,-234004.451401,5121.874971,0.0,0.000151,0.000302,-228882.576430,0.0
12643,1.0,0.0,0.0,-164595.951661,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,1388.97,-164595.951661,-164595.951661,0.000000,0.0,0.001389,0.001389,-164595.951661,0.0
262111,2.0,0.0,0.0,-161468.454966,5651.020630,0.0,0.0,0.0,0.0,0.0,...,0.0,588.26,-161468.454966,-167119.475596,5651.020630,0.0,0.000588,0.001177,-161468.454966,0.0
29689,2.0,0.0,0.0,-152059.539175,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,265.19,-152059.539175,-152059.539175,0.000000,0.0,0.000265,0.000530,-152059.539175,0.0

In [7]:
df.sample(5)

,XTOT,ssi_ben,mcaid_ben,aftertax_income,e02300,wic_ben,other_ben,snap_ben,tanf_ben,vet_ben,...,housing_ben,s006,expanded_income,market_income,bens,tax,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,,,,,,,,,
205714,2.0,0.000000,0.000000,117995.935913,1556.835783,0.0,0.000000,0.0,0.0,0.0,...,0.0,75.01,147659.560320,146102.724537,1556.835783,29663.624407,0.000075,0.000150,147659.560320,4011.861821
3618,3.0,0.000000,0.000000,100654.542469,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,86.31,122061.267338,122061.267338,0.000000,21406.724869,0.000086,0.000259,122061.267338,3422.254444
236694,3.0,0.000000,0.000000,93524.427879,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,576.35,122368.232256,122368.232256,0.000000,28843.804377,0.000576,0.001729,122368.232256,3179.830548
2278,3.0,0.000000,26405.907494,40203.524975,0.000000,0.0,13797.617481,0.0,0.0,0.0,...,0.0,99.07,40203.524975,0.000000,40203.524975,0.000000,0.000099,0.000297,13797.617481,1567.937474
116825,2.0,7627.833988,8801.561911,106525.762776,0.000000,0.0,9455.103106,0.0,0.0,0.0,...,0.0,1460.37,106525.762776,0.000000,106525.762776,0.000000,0.001460,0.002921,68783.550857,3834.927460

Add carbon tax and financial transaction tax.

In [8]:
mdf.add_carbon_tax(df)
mdf.add_ftt(df)
df.columns

Index(['XTOT', 'ssi_ben', 'mcaid_ben', 'aftertax_income', 'e02300', 'wic_ben',
       'other_ben', 'snap_ben', 'tanf_ben', 'vet_ben', 'mcare_ben', 'e02400',
       'housing_ben', 's006', 'expanded_income', 'market_income', 'bens',
       'tax', 's006_m', 'XTOT_m', 'tpc_eci', 'vat', 'carbon_tax', 'ftt'],
      dtype='object')

In [9]:
df.sample(5)

,XTOT,ssi_ben,mcaid_ben,aftertax_income,e02300,wic_ben,other_ben,snap_ben,tanf_ben,vet_ben,...,expanded_income,market_income,bens,tax,s006_m,XTOT_m,tpc_eci,vat,carbon_tax,ftt
RECID,,,,,,,,,,,,,,,,,,,,,
179283,1.0,0.0,0.000000,30428.525305,1960.389039,0.0,0.000000,0.000000,0.000000,0.0,...,37403.777084,35443.388045,1960.389039,6975.251778,0.000157,0.000157,37403.777084,1095.426911,456.427880,30.428525
240037,1.0,0.0,0.000000,7693.549879,0.000000,0.0,1832.993892,3134.310641,0.000000,0.0,...,8145.218030,3177.913498,4967.304532,451.668152,0.000560,0.000560,8145.218030,300.048445,61.548399,7.693550
22256,2.0,0.0,17603.123823,46852.402574,0.000000,0.0,11199.972292,3420.240093,3703.343555,0.0,...,46852.402574,561.540942,46290.861632,0.000000,0.001827,0.003654,29249.278751,1686.686493,655.933636,46.852403
202158,1.0,0.0,0.000000,35939.848676,0.000000,0.0,1931.964716,3302.376044,0.000000,0.0,...,43935.572264,38701.231504,5234.340760,7995.723588,0.001255,0.001255,43935.572264,1293.834552,575.037579,35.939849
113408,1.0,0.0,0.000000,148256.044892,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,173840.377267,173840.377267,0.000000,25584.332375,0.000430,0.000430,173840.377267,4744.193437,2668.608808,444.768135

VAT with a custom amount generated.

In [10]:
mdf.add_vat(df, total=500e9, name='vat2')
df.columns

Multiplying tax by 1.14.

Index(['XTOT', 'ssi_ben', 'mcaid_ben', 'aftertax_income', 'e02300', 'wic_ben',
       'other_ben', 'snap_ben', 'tanf_ben', 'vet_ben', 'mcare_ben', 'e02400',
       'housing_ben', 's006', 'expanded_income', 'market_income', 'bens',
       'tax', 's006_m', 'XTOT_m', 'tpc_eci', 'vat', 'carbon_tax', 'ftt',
       'vat2'],
      dtype='object')

In [11]:
mdf.weighted_sum(df, col='vat', w='s006') / 1e9

439.61146780827477

In [12]:
mdf.weighted_sum(df, col='vat2', w='s006') / 1e9

500.0

Calculate by hand using `add_custom_tax`.

In [13]:
mdf.add_custom_tax(df, segment_income='tpc_eci', w='XTOT_m',
                   base_income='aftertax_income',
                   incidence=mdf.VAT_INCIDENCE, name='vat3', total=1e12)

Multiplying tax by 2.27.

In [14]:
mdf.weighted_sum(df, col='vat3', w='s006') / 1e9

1000.0000000000001