# Custom taxes

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import microdf as mdf

In [2]:
tc.__version__

'3.0.0'

## Load data

Start with a `DataFrame` with `aftertax_income` and necessary ingredients of `tpc_eci`.

In [3]:
df = mdf.calc_df(group_vars=['expanded_income', 'aftertax_income'] +
                 mdf.ECI_REMOVE_COLS,
                 metric_vars=['XTOT'])
df.columns

Index(['e02300', 'other_ben', 'expanded_income', 'housing_ben', 'ssi_ben',
       'mcaid_ben', 'snap_ben', 'aftertax_income', 'tanf_ben', 'mcare_ben',
       's006', 'XTOT', 'wic_ben', 'e02400', 'vet_ben', 'market_income', 'bens',
       'tax', 's006_m', 'XTOT_m'],
      dtype='object')

Calculate Tax Policy Center's Expanded Cash Income measure, used for the analysis.

In [4]:
df['tpc_eci'] = mdf.tpc_eci(df)

Incidence of a VAT per Tax Policy Center.

In [5]:
mdf.add_vat(df)
df.columns

Index(['e02300', 'other_ben', 'expanded_income', 'housing_ben', 'ssi_ben',
       'mcaid_ben', 'snap_ben', 'aftertax_income', 'tanf_ben', 'mcare_ben',
       's006', 'XTOT', 'wic_ben', 'e02400', 'vet_ben', 'market_income', 'bens',
       'tax', 's006_m', 'XTOT_m', 'tpc_eci', 'vat'],
      dtype='object')

In [6]:
df.head()  # Note these are zero because we block negative tax liability.

,e02300,other_ben,expanded_income,housing_ben,ssi_ben,mcaid_ben,snap_ben,aftertax_income,tanf_ben,mcare_ben,...,wic_ben,e02400,vet_ben,market_income,bens,tax,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,,,,,,,,,
192722,0.000000,0.0,-294486.871312,0.0,0.0,0.0,0.0,-294486.871312,0.0,0.0,...,0.0,0.0,0.0,-294486.871312,0.000000,0.0,0.000384,0.000767,-294486.871312,0.0
166558,5121.874971,0.0,-228882.576430,0.0,0.0,0.0,0.0,-228882.576430,0.0,0.0,...,0.0,0.0,0.0,-234004.451401,5121.874971,0.0,0.000151,0.000302,-228882.576430,0.0
12643,0.000000,0.0,-164595.951661,0.0,0.0,0.0,0.0,-164595.951661,0.0,0.0,...,0.0,0.0,0.0,-164595.951661,0.000000,0.0,0.001389,0.001389,-164595.951661,0.0
262111,5651.020630,0.0,-161468.454966,0.0,0.0,0.0,0.0,-161468.454966,0.0,0.0,...,0.0,0.0,0.0,-167119.475596,5651.020630,0.0,0.000588,0.001177,-161468.454966,0.0
29689,0.000000,0.0,-152059.539175,0.0,0.0,0.0,0.0,-152059.539175,0.0,0.0,...,0.0,0.0,0.0,-152059.539175,0.000000,0.0,0.000265,0.000530,-152059.539175,0.0

In [7]:
df.sample(5)

,e02300,other_ben,expanded_income,housing_ben,ssi_ben,mcaid_ben,snap_ben,aftertax_income,tanf_ben,mcare_ben,...,wic_ben,e02400,vet_ben,market_income,bens,tax,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,,,,,,,,,
38343,0.0,0.0,45414.917653,0.0,0.0,0.0,0.0,40113.681069,0.0,0.000000,...,0.0,0.000000,0.000000,45414.917653,0.000000,5301.236584,0.000087,0.000262,45414.917653,1444.092518
33525,0.0,0.0,106049.092571,0.0,0.0,0.0,0.0,105840.063401,0.0,14469.708379,...,0.0,20874.042794,25399.044334,45306.297064,60742.795507,209.029170,0.001121,0.002242,66180.339858,3810.242282
271889,0.0,0.0,25741.346836,0.0,0.0,0.0,0.0,21554.851308,0.0,0.000000,...,0.0,0.000000,0.000000,25741.346836,0.000000,4186.495528,0.000523,0.000523,25741.346836,775.974647
242392,0.0,0.0,83442.504420,0.0,0.0,0.0,0.0,65701.213251,0.0,0.000000,...,0.0,0.000000,0.000000,83442.504420,0.000000,17741.291169,0.000301,0.000602,83442.504420,2365.243677
141601,0.0,0.0,38045.435468,0.0,0.0,0.0,0.0,38045.435468,0.0,14469.708379,...,0.0,23575.727089,0.000000,0.000000,38045.435468,0.000000,0.001895,0.003791,23575.727089,1369.635677

Add carbon tax and financial transaction tax.

In [8]:
mdf.add_carbon_tax(df)
mdf.add_ftt(df)
df.columns

Index(['e02300', 'other_ben', 'expanded_income', 'housing_ben', 'ssi_ben',
       'mcaid_ben', 'snap_ben', 'aftertax_income', 'tanf_ben', 'mcare_ben',
       's006', 'XTOT', 'wic_ben', 'e02400', 'vet_ben', 'market_income', 'bens',
       'tax', 's006_m', 'XTOT_m', 'tpc_eci', 'vat', 'carbon_tax', 'ftt'],
      dtype='object')

In [9]:
df.sample(5)

,e02300,other_ben,expanded_income,housing_ben,ssi_ben,mcaid_ben,snap_ben,aftertax_income,tanf_ben,mcare_ben,...,vet_ben,market_income,bens,tax,s006_m,XTOT_m,tpc_eci,vat,carbon_tax,ftt
RECID,,,,,,,,,,,,,,,,,,,,,
121202,0.000000,0.000000,25572.218187,0.000000,0.0,0.000000,0.000000,25572.218187,0.0,14469.708379,...,0.0,0.000000,25572.218187,0.000000,0.003623,0.007246,11102.509808,997.316509,306.866618,25.572218
210687,0.000000,0.000000,290889.949764,0.000000,0.0,0.000000,0.000000,237985.674852,0.0,28940.650007,...,0.0,183864.222577,107025.727187,52904.274912,0.000156,0.000311,261949.299757,6663.598896,3807.770798,951.942699
185491,0.000000,18396.371387,237804.064799,0.000000,0.0,35207.469406,0.000000,192353.247649,0.0,0.000000,...,0.0,184200.224006,53603.840792,45450.817150,0.000727,0.002907,202596.595393,6155.303925,3462.358458,577.059743
84236,786.705715,4718.061200,46904.910580,4709.979904,0.0,8801.561911,201.896751,46615.027917,0.0,0.000000,...,0.0,27686.705099,19218.205481,289.882663,0.001423,0.002845,33393.368765,1678.141005,699.225419,46.615028
43272,0.000000,0.000000,50772.245873,0.000000,0.0,0.000000,0.000000,41008.227699,0.0,0.000000,...,0.0,50772.245873,0.000000,9764.018174,0.000086,0.000172,50772.245873,1476.296197,697.139871,41.008228

VAT with a custom amount generated.

In [10]:
mdf.add_vat(df, total=500e9, name='vat2')
df.columns

Multiplying tax by 1.14.

Index(['e02300', 'other_ben', 'expanded_income', 'housing_ben', 'ssi_ben',
       'mcaid_ben', 'snap_ben', 'aftertax_income', 'tanf_ben', 'mcare_ben',
       's006', 'XTOT', 'wic_ben', 'e02400', 'vet_ben', 'market_income', 'bens',
       'tax', 's006_m', 'XTOT_m', 'tpc_eci', 'vat', 'carbon_tax', 'ftt',
       'vat2'],
      dtype='object')

In [11]:
mdf.weighted_sum(df, 'vat', 's006') / 1e9

439.61146780827477

In [12]:
mdf.weighted_sum(df, 'vat2', 's006') / 1e9

500.0

Calculate by hand using `add_custom_tax`.

In [13]:
mdf.add_custom_tax(df, 'tpc_eci', 'XTOT_m', 'aftertax_income', 
                   mdf.VAT_INCIDENCE, 'vat3', 1e12)

Multiplying tax by 2.27.

In [14]:
mdf.weighted_sum(df, 'vat3', 's006') / 1e9

1000.0000000000001